<section class="sidebar">
  <header>PROJECTS</header>
  <div>
    <div class="articles sm">
      <article class="lism">
        <a href="https://featured-image-maker.zzzmisa.com/">
          <div class="thumb thumb-eye-catch-maker"></div>
          <div class="inner">
            <div class="title">Eye Catch Maker</div>
            <ul class="facts sm">
              <li>アイキャッチ画像作成ツール</li>
            </ul>
          </div>
        </a>
      </article>
      <article class="lism">
        <a href="https://curryjack.zzzmisa.com/">
          <div class="thumb thumb-curryjack"></div>
          <div class="inner">
            <div class="title">カレージャック</div>
            <ul class="facts sm">
              <li>オープンデータを使ったゲーム</li>
            </ul>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
